body {
  margin: 0px;
  padding: 20px;
  font-family: sans-serif;
  background-color: #cccccc;
}

.example {
/*  display: flex !important;*/
  margin-bottom: 5px;
  font-family: sans-serif;
  margin: 4px;
  padding: 10px;
  padding-left: 8px;
  min-height: 40vh;
}

.item {
  font-family: sans-serif;
  border-top: 1px solid #ffffff;
  background-color: #fcfcfc;
  box-shadow:  1px 1px 1px 1px rgba(0, 0, 0, 0.2) ;
  border-radius: 6px;
  margin: 7px;
  padding: 10px;
  padding-left: 8px;
  opacity: 1;
}

.item .title {
  font-weight: bold;
  font-size: 125%;
  margin: 0;
  margin-bottom: 0.5rem;
}

.item .body {
  margin: 0;
  margin-bottom: 0.5rem;
}

.item .small {
  font-size: 80%;
  text-align: right;
}

.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
